
<!DOCTYPE html>
<html lang="en">
  <head>
<% include partials/head %>
</head>
<body>
   <div class="wrapper">
         <div class="bg bg--about"> </div>
      <% include partials/header %>

      <section class="main--about">
            <div class="container-fluid">
                <div class="about row">
                    <div class="text col-sm-7">
                        <div class="mainTitle ">
                            <h1 class="title">all or nothing, now or never
                        </div>
                        <div class="content">
                          <h2> <%= name %>，你好</h2>
                            <h3>我是 Michael
                            </h3>
                            <p>興趣是看大陸綜藝節目，偶爾打個羽球、網球<br>
                                希望可以早日趕上進度XD
                            </p>
                        </div>
                    </div>
                    <div class="img col-sm-5">
                        <div class="pic"></div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <script src="/public/js/main.js"></script>
<footer>
    <% include partials/footer %>
</footer>
</body>